/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BOTONES */
button {
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: gold;
    border-radius: 5px;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(156, 151, 53);
}

/* CONTENEDOR GENERAL */
body {
    background: linear-gradient(to bottom, #2c2c2c, #000000);
    color: white;
}

/* BARRA */
.barra {
    background-color: rgb(87, 86, 86);
    border-radius: 10px;
}

/* CONTENIDO */
.contenedor {
    background-color: #111;
    border-radius: 10px;
}

/* JUGADORES */
.jugador {
    background: #1a1a1a;
    border-radius: 8px;
    transition: 0.2s;
}

.jugador:hover {
    background: #333;
    transform: scale(1.02);
}

/* TOP COLORES */
.top1 {
    background: linear-gradient(to right, gold, #333);
}
.top2 {
    background: linear-gradient(to right, rgb(143, 143, 143), #333);
}
.top3 {
    background: linear-gradient(to right, rgb(109, 73, 53), #333);
}

/* TIERS */
.tier-s { color: gold; font-weight: bold; }
.tier-a { color: #00ffcc; }
.tier-b { color: #4da6ff; }
.tier-c { color: #999; }
